@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<div class="d-flex gap-2">
    <button class="btn btn-success" @onclick="IncrementCount">Increase</button>
    <button class="btn btn-danger" @onclick="DecrementCount">Decrease</button>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }
}
